.container-div{
    display: grid;
    width:100%;
    height: 100%;
    place-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    color: white;
    width: 30%;
    justify-content: space-between;
    height: 80%;
    margin-top: 100px;
    border: 2px solid  #3474dbb2;
    padding: 10px;
    text-align: center;
}
.form-container h1{
    background-color:  #3474dbb2 ;
    padding: 15px;
}

.form-container input{
    padding:15px;
    font-family: "Open Sans", sans-serif;
    font-size: large;
    transition: all 250ms ease-in-out;
}

 .form_link{
    color: white;
    text-decoration: none;
    background-color:  #3474dbb2 ;
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
}